h1 {
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
    color: blanchedalmond;
}

h2 {
    color: blanchedalmond;
}

.shade-container {
    padding: 1rem;
    border: 2px white;
    border-radius: 4px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.img {
    border-style: none;
    width: 20%;
    height: auto;
    align-self: left;
}

body {
    font-family: Arial;
    color: blanchedalmond;
    background: #000;
}